<div class="main users-new">
  <div class="container">
    <div class="form-heading">Login</div>
    <div class="form users-form">
      <div class="form-body">
        <% if @error_message %>
          <div class="form-error">
            <%= @error_message %>
          </div>
        <% end %>
        <%= form_tag("/login") do %>
          <p>Emial address</p>
          <input name="email" value="<%= @email %>">
          <p>Password</p>
          <input type="password" name="password" value="<%= @password %>">
          <input type="submit" value="Login">
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag '/banner.jpg', class: 'banner-img' %>
</div>
