<div class="main-users-new">
  <div class="container">
    <div class="form-heading">New user signup</div>
    <div class="form users-form">
      <div class="form-body">
        <% @user.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/users/create") do %>
          <p>user name</p>
          <input name="name" value="<%= @user.name %>">
          <p>email address</p>
          <input name="email" value="<%= @user.email %>">
          <p>Password</p>
          <input name="password" type="password" value="<%= @user.password %>" >
          <input type="submit" value="Signup">
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag '/banner.jpg', class: 'banner-img' %>
</div>
