<div class="posts-show-item">
  <div class="container">
    <div class="user-date">
    <div class="post-user-name">
      <%= image_tag("/user_images/#{@user.image_name}", :class => "userimg") %>
      <h2><%= link_to(@user.name, "/users/#{@user.id}") %></h2>
    </div>
    <p>
      <%= @post.content %>
    </p>
    <%= image_tag("/user_images/#{@post.pic_name}", :class => "cookpic") %>
    <div>
      <%= @post.created_at.strftime('%Y/%m/%d %H:%M') %>
      <%= time_ago_in_words(@post.created_at) %>
    </div>
    <div>
    <% if @post.user_id == @current_user.id %>
      <div class="post-menus">
        <%= link_to("EDIT", "/posts/#{@post.id}/edit") %>
        <%= link_to("DELETE","/posts/#{@post.id}/destroy",{method: "post"}) %>
      </div>
    <% end %>
    </div>
    </div>
  </div>
</div>
