<!DOCTYPE html>
<html>
  <head>
    <title>Firstapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body link="#000000" vlink="#000000">
    <header>
      <ul class="header-menus">
          <% if @current_user %>
          <li>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("NEW-POST","/posts/new") %>
          </li>
          <li>
            <%= link_to("MEAL MENU","/posts/index") %>
          </li>
          <li>
            <%= link_to("LOG-OUT", "/logout", {method: :post}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("SIGN-UP","/signup") %>
          </li>
          <li>
            <%= link_to("LOG-IN", "/login") %>
          </li>
        <% end %>
      </ul>
    </header>
    <% if flash[:notice]%>
      <div class="flash">
        <%= flash[:notice]%>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
